extends layout.pug

block content
  .grid.grid--container
    .row
      .col.col--sm-4
        h2.h2 Обо мне
      .col.col--sm-8
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum quas facilis laborum reprehenderit maxime dolorum, provident dolorem. Fugiat quos, quis deserunt, ab, facere beatae mollitia sed unde id libero doloremque!

  .super-gallery
    .super-gallery__row.super-gallery__row--first
      .super-gallery__col
        img(src="img/work-8.gif", alt="")
      .super-gallery__col
        img(src="img/work-2.jpg", alt="")
      .super-gallery__col
        img(src="img/work-3.png", alt="")
    .super-gallery__row.super-gallery__row--second
      .super-gallery__col
        img(src="img/work.jpg", alt="")
      .super-gallery__col
        img(src="img/work-4.jpg", alt="")
      .super-gallery__col
        img(src="img/work-5.png", alt="")
      .super-gallery__col
        img(src="img/work-6.png", alt="")
      .super-gallery__col
        img(src="img/work-9.jpg", alt="")
      .super-gallery__col
        img(src="img/work-10.jpg", alt="")