extends layout.pug

block content
  #fullpage.fullpage
    .section.section--first
      .section__bg
      .section__container
        .name
          .roman Роман
          .ivanov
            span И
            | ванов
      .down
        img(src="./img/arrow-down.png", alt="")

    .section
      .section__container.section__container--second
        .grid.grid--container
          .row
            .col.col--sm-10.col--sm-offset-1
              .fullpage__text
                h2.h2 Дизайн с сильным визуальным языком, Ориентированный на <br> <span>пользователя</span>
                p Имея опыт работы арт-директором, работающего непосредственно с различными клиентами, я могу быстро адаптироваться к новым задачам. Мне нравится участвовать во всем процессе, начиная от идей и концептуализации до проектирования, прототипирования, тестирования и доставки идей.
                .fullpage__links
                  a(href="").fullpage__link
                    img(src="./img/behance.png", alt="")
                  a(href="").fullpage__link
                    img(src="./img/pinterest.png", alt="")
      .down
        img(src="./img/arrow-down.png", alt="")
    .section.section--with-gallery
      .section__container.section__container--third
        .portfolio-word
        .super-gallery
          .super-gallery__row.super-gallery__row--first
            -for(var i = 1; i < 3; i++)
              a.super-gallery__col(href="" style="background-image: url(./img/main-slider/" + i + ".jpg);")
                .work-small
                  .work-small__word Проект
                  .work-small__title Триумф
                  .work-small__done Выполненная работа
                  .work-small__anons Концепт дизайна сайта для продюссерского центра &laquo;Триумф&raquo;
          .super-gallery__row.super-gallery__row--second
            - var color = ["#fd483d", "#ffc000", "#0073c6", "#f43900", "#00b1c1", "#007546"]
            -for(var i = 1; i < 6; i++)
              // .super-gallery__col(style="background-image: url(./img/logos/" + i + ".png);")
              a.super-gallery__col(href="")
                .super-gallery__color(style="background-color: " + color[i - 1] + ";")
                img(src="./img/logos/" + i + ".png", alt="")
