extends layout.pug

block content
  section.section
    .roma
      .roma__name Роман Иванов
  .grid.grid--container
    section.section
      .row
        .col.col--sm-4
          h2.h2 Обо мне
      .row
        .col.col--sm-8.col--sm-offset-4
          p.p Уже 4 года профессионально занимаюсь созданием дизайна сайтов, прорисовываю интерфейсы интернет-магазинов. Также занимаюсь разработкой дизайна сайтов для мобильных устройств и дизайном мобильных приложений. 
          p.p Уже 4 года профессионально занимаюсь созданием дизайна сайтов, прорисовываю интерфейсы интернет-магазинов. Также занимаюсь разработкой дизайна сайтов для мобильных устройств и дизайном мобильных приложений. 
    h2.h2 Мои работы

  .super-gallery
    .super-gallery__row.super-gallery__row--first
      .super-gallery__col(style="background-image: url(img/work-8.gif);")
      .super-gallery__col(style="background-image: url(img/work-2.jpg);")
      .super-gallery__col(style="background-image: url(img/work-3.png);")
    .super-gallery__row.super-gallery__row--second
      .super-gallery__col(style="background-image: url(img/work.jpg);")
      .super-gallery__col(style="background-image: url(img/work-4.jpg);")
      .super-gallery__col(style="background-image: url(img/work-5.png);")
      .super-gallery__col(style="background-image: url(img/work-6.png);")
      .super-gallery__col(style="background-image: url(img/work-9.jpg);")
      .super-gallery__col(style="background-image: url(img/work-11.jpg);")
      .super-gallery__col(style="background-image: url(img/work-12.png);")
      .super-gallery__col(style="background-image: url(img/work-13.jpg);")
      .super-gallery__col(style="background-image: url(img/work-14.jpg);")
