extends layout.pug

block content
  #fullpage.fullpage
    .section.section--first
      .section__bg
      .section__container
        .name
          .roman Роман
          .ivanov
            span И
            | ванов
      .down
        img(src="./img/arrow-down.png", alt="")

    .section
      .section__container.section__container--second
        .grid.grid--container
          .row
            .col.col--xl-10.col--xl-offset-1
              .fullpage__text
                h2.h2 Дизайн <span class="fullpage__mobile-hide">с сильным визуальным языком,</span> Ориентированный на <br> <span>пользователя</span>
                p Имея опыт работы арт-директором, работающего непосредственно с различными клиентами, я могу быстро адаптироваться к новым задачам. Мне нравится участвовать во всем процессе, начиная от идей и концептуализации до проектирования, прототипирования, тестирования и доставки идей.
                .fullpage__links
                  a(href="").fullpage__link
                    img(src="./img/behance.png", alt="")
                  a(href="").fullpage__link
                    img(src="./img/pinterest.png", alt="")
      .down
        img(src="./img/arrow-down.png", alt="")
    .section.section--with-gallery
      .section__container.section__container--third
        .portfolio-word
        .super-gallery
          .super-gallery__row.super-gallery__row--first
            - var projectsTitle = ["Газпром", "Мегачас", "Матрасс-сити", "Сатурн", "МДС-микро", "Золото.ru", "Строймаркетинг", "Триумф"]
            - var projectsDesc = ["Дизайн сайта для Краснодарского отделения ПАО «Газпром».","Концепт дизайна сайта интернет-магазина наручных часов.","Дизайн сайта интернет-магазина матрасов и пастельных пренадлежностей.","Дизайн сайта предприятия занимающегося разработкой источников тока для космических аппаратов.","Концепт дизайна сайта для завода занимающегося различными видами обработки металла.","Разработка дизайна сайта ювелирного интернет-магазина.","Концепт дизайна сайта для строительной компании.","Концепт дизайна сайта для продюссерского центра «Триумф»."]
            - var projectLinks = ['gazprom', 'megachas', 'matras', 'saturn', 'mds', 'zoloto', 'stroymarketing', 'triumf']
            -for(var i = 1; i < 9; i++)
              a.super-gallery__col(href="./" + projectLinks[i - 1] + ".html" style="background-image: url(./img/main-slider/" + i + ".jpg);")
                .work-small
                  .work-small__word Проект
                  .work-small__title= projectsTitle[i - 1]
                  .work-small__done Выполненная работа
                  .work-small__anons= projectsDesc[i - 1]
          .super-gallery__row.super-gallery__row--second
            - var smallWork = ["Газпром", "Мегачас", "Матрасс-сити", "Сатурн", "МДС-микро", "Золото.ru", "Строймаркетинг", "Триумф"] 
            - var color = ["#0073c6", "#fd483d", "#ffc000", "#08a4fb", "#eb251c", "#caab7c", "#00b1c1", "#f43900"]
            - var smallWorkLink = ['gazprom', 'megachas', 'matras', 'saturn', 'mds', 'zoloto', 'stroymarketing', 'triumf']
            -for(var i = 1; i < 9; i++)
              // .super-gallery__col(style="background-image: url(./img/logos/" + i + ".png);")
              a.super-gallery__col(href="./" + smallWorkLink[i - 1] + ".html")
                .super-gallery__color(style="background-color: " + color[i - 1] + ";")
                img(src="./img/logos/" + i + ".png", alt="")
                .super-gallery__small-hover
                  .super-gallery__small-word Проект
                  .super-gallery__small-name= smallWork[i - 1]
