doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title Роман Иванов
    meta(name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="format-detection" content="telephone=no")
    link(rel="stylesheet", href="styles/css/vendor.css")
    link(rel="stylesheet", href="styles/css/main.css")
  body

    .page.page--scrolling

      header.main-header
        .main-header__left
          a(href="").logo
        .main-header__right
          .phone + 7 /978/ 850 09 98
          .mail mail@gmail.com

      main
        block content


    script(src="js/jquery.min.js")
    script(src="js/jquery.mousewheel.js")
    script(src="js/main.js")