doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title Роман Иванов
    meta(name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="format-detection" content="telephone=no")
    script(src="./js/wow.min.js")
    script.
      new WOW().init()
    link(rel="stylesheet", href="styles/css/vendor.css")
    link(rel="stylesheet", href="styles/css/main.css")
  body

    .page

      .animation-block.animation-block--white
      .animation-block.animation-block--red

      .empty

      header.main-header
        .main-header__left
          a(href="").logo
          a(href="").back
            .back__icon
              img(src="img/arrow.png", alt="")
            .back__word На главную
        .main-header__info
          a(href="tel:+79788500998").phone +7_978_850_09_98
          a(href="mailto:info@ivanov-dsgn.ru").mail info@ivanov-dsgn.ru
        .main-header__right
          .numbers
            a.number.number--active(href="#page1") 1
            a.number(href="#page2") 2
            a.number(href="#page3") 3

      main
        block content


    script(src="js/jquery.min.js")
    script(src="js/jquery.mousewheel.js")
    script(src="js/jquery.easeScroll.js")
    script(src="./js/jquery.fullpage.min.js")
    //- script(src="js/jquery.mCustomScrollbar.js")
    //- script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js")
    script(src="js/main.js")