extends layout-inner.pug

block content
  .grid.grid--container
    header.project
      .project__word Проект
      h1.project__title Сатурн
      .project__done Выполненная работа
      .project__description Дизайн сайта предприятия занимающегося разработкой источников тока для космических аппаратов.
      a(href="").project__link
        img(src="img/link.png", alt="")

    section.portfolio
      .portfolio__img.wow
          img(src="./img/saturn/1.jpg", alt="")
      -for(var i = 2; i < 10; i++)
        .portfolio__img.wow
          img(src="./img/saturn/" + i + ".jpg", alt="")

  .next-project
    a(href="./mds.html").next-project__item
      .next-project__container
        .next-project__word Следующий проект
        .next-project__project МДС-микро
        .next-project__arrow
          img(src="./img/arrow-down.png", alt="")
  .to-top
    .to-top__icon
      img(src="img/to-top.png", alt="")
    .to-top__word наверх