extends layout-inner.pug

block content
  .grid.grid--container
    header.project
      .project__word Проект
      h1.project__title МДС-Микро
      .project__done Выполненная работа
      .project__description Концепт дизайна сайта для завода занимающегося различными видами обработки металла.
      a(href="").project__link
        img(src="img/link.png", alt="")

    section.portfolio
      .portfolio__img.wow
          img(src="./img/gazprom/1gazprom.jpg", alt="")
      -for(var i = 2; i < 10; i++)
        .portfolio__img.wow
          img(src="./img/gazprom/" + i + "gazprom.jpg", alt="")

  .next-project
    a(href="").next-project__container
      //- .next-project__bg(style="background-image: url('img/next.jpg')")
      .next-project__bg
      .next-project__word Следующий проект
      .next-project__project Газпром
  .to-top
    .to-top__icon
      img(src="img/to-top.png", alt="")
    .to-top__word наверх