$main = #fff
$black = #010101
$gray = #bbb
$light-gray = #d1d1d1
$primary = #f43900
$secondary = #3c383b
$blue = #f3f7fa
$red = #c00505

// socials
$vk = #507299
$ok = #f58220
$facebook = #3b5998
$twitter = #00aced
$insta = #517fa4
$youtube = #bb0000
$vimeo = #45bbff
$myworld = #0451a0

$border = 1px solid $light-gray

$font = 'GothamPro', 'Arial', 'Helvetica', sans-serif

$radius = 4px