// .section__container
//   height calc(100vh - 12.2rem)

.fullpage
  opacity 0
  transition opacity 1s
  &__text
    .h2
      display block
      margin-bottom 5rem
      position relative
      &:after
        background-color #f00
        bottom -1rem
        content ''
        height 2px
        left 0
        position absolute
        width 41rem
    p
      color #848484
      display block
      font-size 2.4rem
      font-weight 600
      padding-left 22rem
  &--is-load
    opacity 1

.name
  padding 0 (305 / 1900 * 100)vw
  transform translateY(230 / 1000 * 100vh)
.roman
  display inline-block
  line-height 1
  font-size 2.6rem
  transform translateY(3rem)
  vertical-align top

.ivanov
  display inline-block
  // font-size 23.8rem
  font-size 13vw
  font-weight 800
  line-height 1
  text-transform uppercase
  vertical-align top
  span
    color $primary
    line-height 1

// @media(max-width 1400px)
//   .fullpage
//     &__text
//       .h2
//         font-size 3.2rem
//         line-height 1.6
//       p
//         font-size 1.8rem

.section
  position relative
  &__bg
    background url('../../img/ava.png') no-repeat
    background-size cover
    height 100%
    transform translateY(-12rem)
    position absolute
    width 100%
    z-index -1

.section__container
  &--second
    // transform translateY(13rem)
    transform translateY(10vh)
  &--third
    align-items flex-end
    flex-wrap wrap
    display flex
    height 100%
    position relative

.portfolio-word
  background url('../../img/portfolio.png') no-repeat
  background-size contain
  height 21rem
  opacity .05
  margin-left 1%
  padding 0 1rem
  width 98%
    
.fullpage__links
  margin-top 6rem
  padding-left 50rem
.fullpage__link
  display inline-block
  height 4rem
  overflow hidden
  position relative
  vertical-align top
  text-align center
  width 4rem
  &:after
    background-color $primary
    content ''
    height 2px
    opacity 1
    left -4rem
    position absolute
    top 3.5rem
    transition all .2s
    width 4rem
  &:hover
    &:after
      opacity 1
      left 0
  &:first-child
    margin-right 3rem

.down
  cursor pointer
  bottom 18rem
  position absolute
  right (130 / 1900 * 100)vw
  img
    display block

// @media(max-width 1900px)
//   .fullpage
//     &__text
//       .h2
//         font-size 3rem