.page--inner
  overflow hidden
body
  &::-webkit-scrollbar
    width 10px
  &::-webkit-scrollbar-track
      background-color $black
  &::-webkit-scrollbar-thumb
      background-color $black + 12%

.portfolio
  &__img
    animation fadeUp .7s ease forwards
    box-shadow 0 5rem 6rem 0 rgba(#000, .2)
    margin-bottom 27rem
    opacity 0
    img
      display block
      max-width 100%
    &--first
      animation fadeUp .7s ease forwards 1s
  &--dark
    opacity 0

.next-project
  overflow hidden
  display block
  &__item
    background-color #000
    align-items center
    cursor pointer
    display flex
    justify-content center
    flex-direction column
    height 100vh
    margin 0 auto
    position fixed
    will-change transform, height
    top 0
    transition all .5s cubic-bezier(0.645, 0.045, 0.355, 1)
    transform translateY(100%)
    text-decoration none
    width 100%
    z-index 200
  &__container
    text-align center
  &__word
    color #fff
    display block
    font-weight 600
    opacity .25
    text-transform uppercase
    text-decoration none
  &__project
    color #fff
    display inline-block
    font-size 6rem
    font-weight 700
    opacity 1
    margin-right 1rem
    text-transform uppercase
  &__arrow
    display inline-block
    img
      max-height 4.2rem
  &__next
    color rgba(#fff, .3)
    font-size 2.4rem
    font-weight 300
    letter-spacing 2px
    text-transform uppercase
    transition color .5s
  &--active
    .next-project
      &__item
        transform none
  &--clicked
    .next-project
      &__item
        transform translateY(-100%)

.project
  margin-top 5rem
  margin-top (50 / 1080 * 100)vh
  margin-bottom 8rem
  text-align center
  &__word
    animation fadeUpOpacityHalf .7s ease forwards .2s
    font-weight 600
    opacity 0
    margin-bottom 3rem
    text-transform uppercase
  &__title
    animation fadeUp .7s ease forwards .2s
    font-size 7.2rem
    font-weight 700
    line-height 1
    opacity 0
    margin 0
    margin-bottom 6rem
  &__done
    animation fadeUpOpacityHalf .7s ease forwards .6s
    font-weight 600
    opacity 0
    margin-bottom 3rem
    text-transform uppercase
  &__description
    animation fadeUp .7s ease forwards .6s
    font-size 2rem
    font-weight 600
    opacity 0
    margin-bottom 5rem
  &__link
    display inline-block
    line-height 1
    opacity .25
    position relative
    transition opacity .8s ease
    &:after
      box-shadow 0 0 0 0 #a7b0b6
      border-radius 50%
      content ''
      circle(50px)
      left 0
      position absolute
      top 0
      transition transform .4s
    &:hover
      opacity 1
      // &:after
      //   box-shadow 0 0 20px 0 #a7b0b6
      //   transform scale(1.5)

.to-top
  cursor pointer
  display inline-block
  position fixed
  opacity 0
  right (120 / 1900 * 100)%
  // top (760 / 1080 * 100)vh
  bottom 6rem
  transform translateY(2rem)
  transition all .4s
  &__word
    display inline-block
    fz1.40rem
    font-weight 600
    transform rotate(-90deg) translate(-3rem, -2.5rem)
    text-transform uppercase
  &__icon
    display block
    transition transform .4s
    &:hover
      transform translateY(-1rem)
  &--active
    opacity 1
    transform none

@media(max-width 1200px)
  .to-top
    display none
  .next-project
    &__item
      left 0
    &__project
      font-size 3.2rem
    &__arrow
      img
        max-height 2.6rem
  .portfolio
    &__img
      margin-bottom 10rem
  .project
    &__title
      font-size 6rem