@keyframes fadeUp
  0%
    // opacity 0
    transform translateY(6rem)
  100%
    opacity 1
    transform none

@keyframes fadeUpOpacityHalf
  0%
    // opacity 0
    transform translateY(6rem)
  100%
    opacity .25
    transform none

@keyframes fadeLeft
  0%
    opacity 0
    transform translateX(6rem)
  100%
    opacity 1
    transform none

@keyframes scroll
  0%
    transform translateY(-100%)
  100%
    transform: translateY(200%)

@keyframes i
  0%
    opacity 0
  100%
    opacity 100%

$screen = 100%

@keyframes animation-block-up
  0%
    top -$screen
  100%
    top $screen

@keyframes animation-block-down
  0%
    top $screen
  100%
    top -$screen

@keyframes next-project
  0%
    transform translateY(100vh)
  100%
    transform none
