@keyframes scroll
  0%
    transform translateY(-100%)
  100%
    transform: translateY(200%)

@keyframes i
  0%
    opacity 0
  100%
    opacity 100%

@keyframes animation-block-up
  0%
    top -100vh
  100%
    top 100vh

@keyframes animation-block-down
  0%
    top 100vh
  100%
    top -100vh