@media(max-width 1200px)
  body
    overflow-X hidden
  .grid--container
    max-width 98%
  .portfolio
    &__img
      margin-bottom 10rem

@media(max-width 768px)
  .portfolio
    &__img
      margin-bottom 5rem