// @media(max-width 1200px)
//   body
//     overflow-X hidden
//   .grid--container
//     max-width 98%
//   .portfolio
//     &__img
//       margin-bottom 10rem

// @media(max-width 768px)
//   .portfolio
//     &__img
//       margin-bottom 5rem

@media(max-width 1900px)
  html
    font-size 55%
@media(max-width 1900px)
  html
    font-size 50%

@media(max-width 1200px)
  .page
    padding 0 4%
  .name
    transform none
    margin-bottom 5rem
    margin-top 2rem
    padding 0
  .roman
    display block
  .section
    height initial !important
  .main-header
    padding 2rem 0
    &__right
      display none
    &__info
      transform translate(-14rem, .8rem)
  .section
    &__bg
      display none
  .roman
    transform none
  .down
    display none
  .fullpage
    &__text
      .h2
        font-size 3rem
      p
        padding-left 0
  .super-gallery
    &__row
      position initial
      overflow-Y initial
      &--first
      &--second
        width initial !important
        .super-gallery__col
          float left
          width 50%

@media(max-width 767px)
  .super-gallery
    &__row
      position initial
      overflow-Y initial
      &--first
      &--second
        width initial !important
        .super-gallery__col
          width 100%