// @media(max-width 1200px)
//   body
//     overflow-X hidden
//   .grid--container
//     max-width 98%
//   .portfolio
//     &__img
//       margin-bottom 10rem

// @media(max-width 768px)
//   .portfolio
//     &__img
//       margin-bottom 5rem

@media(max-width 1900px)
  html
    font-size 55%
@media(max-width 1900px)
  html
    font-size 50%

@media(max-width 1200px)
  body
    background black
  .page
    padding 0 4%
  .name
    transform none
    margin-bottom 50vh
    margin-top 0
    padding 0
    transform translateY(25vh)
  .roman
    display block
  .section
    height initial !important
  .main-header
    padding 2rem 0
    &__right
      display none
    &__info
      transform translate(-14rem, .8rem)
  .section
    &__bg
      height 100vh
  .roman
    transform none
  .down
    display none
  .fullpage
    &__text
      .h2
        font-size 3rem
      p
        padding-left 0
  .super-gallery
    &__row
      position initial
      overflow-Y initial
      &--first
      &--second
        width initial !important
        .super-gallery__col
          float left
          width 50%
          &:not(.for-copy)
            display none

@media(max-width 767px)
  .fullpage__text
    .h2
      font-size 2.4rem
      margin-bottom 3rem
    p
      font-size 1.8rem
      font-weight 400
  .super-gallery
    &__row
      position initial
      overflow-Y initial
      &--first
      &--second
        width initial !important
        .super-gallery__col
          width 100%
      &--second
        .super-gallery__col
          width 50%